# Trage hier deinen REDCap API Token ein und speichere die Datei ab.
# WICHTIG: Danach musst du die Datei umbenennen in: .env
# (Auf dem Mac werden Dateien mit einem Punkt am Anfang unsichtbar, das ist normal!)

REDCAP_API_URL=https://redcap.balgrist.ch/api/
REDCAP_API_TOKEN=HIER_DEINEN_TOKEN_EINTRAGEN
